body
{
    font-family: 'Segoe UI', sans-serif
}

span {
    font-style: italic
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

.place {
  fill: yellow;
  stroke: white;
  stroke-width: 1;
}

.link {
  stroke: white;
  stroke-width: 1;
}

#layerLinks {
  position: absolute;
  background-color: black;
}

#layerPlaces {
  position: absolute;
}

#parameters {
  float: right;
  padding-right: 5em;
}

.tooltip {
  color: white;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
  z-index: 100;
}